#grafico {
    width: 1200px;
    height: 500px;
	/*background:url(../../Content/Images/ajax-loader.gif) no-repeat center center;*/
}

#chart {
    width: 1200px;
    height: 500px;
	/*background:url(../../Content/Images/ajax-loader.gif) no-repeat center center;*/
}

#loading
{

height:200px;
width:200px;
}