@{
    ViewBag.Title = "NotAllowed";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="content">
    <img src="../../../../Content/Images/Cancel-64.png" alt="" class="content-img" />
    <h2>
        Acesso Negado</h2>
    <p>
        Você não possui permissões suficientes para realizar esta função, entre em contato com o administrador do sistema.
    </p>
</div>