@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/Master.cshtml";
}
 <div class = "content">
<span style="float:left">O WebTemplate é uma solução WEB pré-programada, que consiste em funcionalidades básicas presentes em grande parte dos projetos, sendo essas o núcleo da aplicação, 
desenvolvido especialmente para software houses ou programadores free-lancer que estão sempre trabalhando com clientes diferentes.
Ao ser expandido em outros projetos, novas funcionalidades podem ser encaixadas às já existentes, criando sistemas customizados e ao mesmo tempo padronizados, garantindo não
apenas reutilização de código como também fácil manutenção.</span>
<center>
    <img src="../../Content/Images/Extratistico.png" style="width:400px;">
</center>
     </div>